<div class="bg-white p-4 rounded shadow">
  <h2 class="text-xl font-bold"><%= product.name %></h2>
  <%= image_tag product.sprite_url, alt: product.name %>
  <p class="mt-2"><%= product.description %></p>
  <p class="mt-2 text-lg">$<%= product.price %></p>
  
  <%= form_with(model: CartItem.new, class: "mt-4") do |f| %>
    <%= f.hidden_field :pokemon_product_id, value: product.id %>
    <div class="flex gap-2">
      <%= f.number_field :quantity,
      value: 1,
      min: 1,
      class: "w-20 rounded border-gray-300" %>
      <%= f.submit "Add to Cart",
      class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>

    </div>
  <% end %>
</div>